In [1]:
import pandas as pd

Ahora, en nuestro programa de Python, tenemos que importar la librería:

pip install mysql-connector-python

In [2]:
import mysql.connector

Ahora, para conectarnos a la base de datos, necesitas cierta información acerca del servidor que está corriendo la base de datos y el usuario que tiene acceso a ella. Más específicamente, mysql.connector te pide el host y port (el dominio y puerto donde está corriendo tu servidor), el user (el usuario o uno de los usuarios que tiene permiso de acceso a la base de datos), la password (la contraseña de dicho usuario) y la database (la base de datos almacenada en MySQL a la que queremos acceder). En el caso de mi servidor local, ésta es la información adecuada:

In [5]:
conn= mysql.connector.connect (
    host = 'localhost', 
    port='3309',
    user = 'root', 
    password='P@ssw0rd', 
    database='movielens'
)

Ya que la conexión está realizada, tengo que crear un objeto cursor, que es el encargado de realizar las operaciones de consulta y modificación de la base de datos:

In [13]:
cursor = conn.cursor()

Ahora podemos simplemente utilizar este objeto cursor para correr código SQL y realizar operaciones con nuestra base de datos. Lenguaje SQL no es el tema de este módulo, pero basta con conocer un solo comando para poder solicitar la información contenida en una de las tablas de nuestra base de datos:

In [14]:
cursor.execute('show tables')

In [15]:
cursor.fetchall()

[('age_ranges',), ('movies',), ('occupations',), ('ratings',), ('users',)]

El comando SELECT * FROM nombre_de_la_tabla sirve para pedir todas (*) las entradas en la tabla nombre_de_la_tabla. Usualmente el lenguaje SQL se utiliza también para filtrar y estructurar nuestros datos, pero nosotros vamos a realizar esos procesos con pandas. Una vez que el comando SQL ha sido ejecutado, podemos usar el método fetchall para obtener nuestros datos:

In [16]:
cursor.execute('Select * from movies')

In [17]:
result = cursor.fetchall()

Después, hay que cerrar nuestro cursor ya que hayamos terminado:

In [18]:
cursor.close()

True

Ahora, ¿qué es lo que hay almacenado en nuestra variable result? Vamos a ver el tipo de dato:

In [19]:
type(result)

list

¡Es una lista!

Veamos el primer elemento de nuestra lista:

In [20]:
result[0]

(1, 'Toy Story (1995)', "Animation|Children's|Comedy")

In [ ]:
result